<!--簡易ブログのトップページ
    トップページは一覧画面とする。
  -->
<h1>簡易ブログ</h1>

<!-- 新規投稿画面へのリンクを作成 -->
<%= link_to "新しい記事を掲載する", new_blog_path %>

<!-- 投稿記事一覧を表示するための処理 -->
<u1>
  <% @blog.each do |blog| %>
  <li>
    <!--タイトルを表示-->
    タイトル:
    <%= blog.title%>
    <!--内容の表示-->
    本文:
    <%= blog.main%>
    <!--投稿時間の表示-->
    投稿日時
    <%= blog.created_at %>
  </li>
  <% end %>
</u1>
